<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">
        Crud Project
        </h2>
        {% block content %}
        
        {% endblock content %}
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>